.prompt__current-tense {
  background: rgb(73, 87, 165);
  color: white;
  font-family: 'Roboto Mono', serif;
  padding: 0.7rem;
  margin-bottom: 3rem;
}

.prompt__infinitive {
  margin-top: 0.5rem;
}
