.flashcard-container {
    width: 50%;
    margin: 0 auto;
}

.flashcard {
    display: flex;
    flex-direction: column;
}

.conjugation-input {
    width: 150px;
}
  
.correct-response {
  margin-top: 20px;
  white-space: pre;
}