.verb-group-form {
  display: flex;
  flex-direction: column;
}

.verb-group-form-container {
  display: inline-block;
}

.verb-group-form__radio {
  align-self: flex-start;
  padding-top: 5px;
}

.verb-group-form__heading {
  font-family: 'Roboto Mono', serif;
  font-size: 1.5em;
  margin: 30 10 10 10;
}
