.verb-group-form {
  display: inline-flex;
  flex-direction: column;
}

.verb-group-form__heading {
  font-family: 'Roboto Mono', serif;
  font-size: 1.5em;
  margin: 3rem 1rem 1rem 1rem;
}

.verb-group-form__radio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}

.verb-group-form__radio {
  padding-top: 0.4rem;
}
