.verb-tense-form {
    display: inline-flex;
    flex-direction: column;
}

.verb-tense-form__heading {
    margin: 30 10 10 10;
}

.verb-tense-form__input {
    align-self: flex-start;
    padding-top: 5px;
}
