.conjugation__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.conjugation__label {
  text-align: right;
  align-self: center;
  flex: 0 0 2.5rem;
  padding: 0 0 0.25rem 0.75rem;
}

.conjugation__input {
  flex: 0 0 8rem;
  min-width: 0;
  align-self: flex-end;
  outline: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1rem;
  padding-bottom: 0.25rem;
  margin: 0 0.5rem;
}

@media screen and (min-width: 400px) {
  .conjugation__label {
    flex: 0 0 2.1em;
  }

  .conjugation__input {
    flex: 0 0 2.5rem;
  }

  .conjugation__submit {
    margin-right: 0.8rem;
  }
}

.conjugation__input--pending:focus {
  border-width: 2px;
}

.conjugation__input--correct {
  border-width: 2px;
  border-color: rgb(113, 241, 109);
}

.conjugation__input--incorrect {
  border-width: 2px;
  border-color: red;
}

.conjugation__submit {
  flex: 0 0 0.5rem;
  align-self: flex-end;
  background-color: rgb(119, 119, 119);
  border-color: rgb(119, 119, 119);
  font-size: 1rem;
  color: white;
  padding: 0.2rem;
  margin-right: 1rem;
  border-radius: 0.2rem;
  box-shadow: none;
}

@media screen and (min-width: 400px) {
  .conjugation__label {
    flex: 0 0 2.1rem;
  }

  .conjugation__input {
    flex: 0 0 9rem;
  }

  .conjugation__submit {
    margin-right: 0.8rem;
    font-size: 1rem;
  }
}
