.conjugation-label {
  margin-right: 7px;
}

.conjugation-form {
  margin: 0 auto;
  display: inline-block;
}

.conjugation-input {
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  font-size: 1em;
  width: 150px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 5px;
  margin: 10px 4px 2px 2px;
}

.conjugation-input--pending {
  border-bottom: 1px solid black;
}

.conjugation-input--pending:focus {
  border-bottom: 2px solid black;
}

.conjugation-input--correct {
  border-bottom: 2px solid rgb(113, 241, 109);
}

.conjugation-input--incorrect {
  border-bottom: 2px solid red;
}
